.shipment {
  height: 100px;
  line-height: 2;
  padding: 30px 30px 40px 30px;
  font-size: 27px;
  color: #333;
  background-color: #fff;
  background-image: url(https://static.botue.com/ugo/images/cart_border%402x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  .dt {
    width: 140px;
    float: left;
    clear: both;
  }

  .dd {
    padding-left: 160px;
  }

  .meta {
    padding-right: 50px;
  }

  .phone {
    float: right;
  }
}

.carts {
  background-color: #f4f4f4;
  padding-bottom: 110px;
  overflow: hidden;

  .item {
    margin-top: 20px;
  }
  
  .shopname {
    padding: 30px;
    font-size: 30px;
    color: #333;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .goods {
    display: flex;
    padding: 30px 20px 30px 0;
    margin-left: 105px;
    border-bottom: 1px solid #eee;
    background-color: #fff;

    position: relative;

    .checkbox {
      display: block;
      width: 101px;
      height: 100%;
      background-color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: -100px;
      top: 0;
    }

    &:last-child {
      border-bottom: none;
    }

    .pic {
      width: 200px;
      height: 200px;
      margin-right: 30px;
    }

    .meta {
      flex: 1;
      font-size: 27px;
      color: #333;
      position: relative;
    }

    .name {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* ! autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }

    .price {
      position: absolute;
      bottom: 0;

      color: #ea4451;
      font-size: 33px;

      .label {
        font-size: 22px;
      }
    }

    .amount {
      position: absolute;
      bottom: 0;
      right: 20px;

      height: 50px;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 8px;

      display: flex;
      align-items: center;

      .label {
        display: block;
        width: 60px;
        height: 100%;
        line-height: 44px;
        font-size: 40px;
        color: #ddd;
        text-align: center;
      }

      .input {
        width: 60px;
        font-size: 27px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }
    }
  }
}

.extra {
  position: fixed;
  bottom: 0;
  /* #ifdef h5 */
  bottom: 110px;
  /* #endif */
  left: 0;
  z-index: 9;

  width: 750px;
  height: 96px;
  text-align: center;
  font-size: 36px;
  border-top: 1px solid #eee;
  background-color: #fff;
  color: #333;
  
  display: flex;

  .checkall {
    width: 160px;
    line-height: 1;
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 32px;

    .icon {
      margin-right: 20px;
    }
  }

  .total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 32px;

    .label {
      position: relative;
      font-size: 24px;
      bottom: -4px;

      &:first-child {
        margin-left: 10px;
      }
    }

    .num {
      color: #ea4451;
      font-size: 36px;
      bottom: -2px;
    }
  }

  .pay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 36px;
    background-color: #ea4451;
    color: #fff;
  }
}
